<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GismeteoClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <GismeteoClient.Properties.Settings>
            <setting name="ImagesPath" serializeAs="String">
                <value>Resources/graphics/weather_icons/</value>
            </setting>
            <setting name="USdbLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="USdbServer" serializeAs="String">
                <value />
            </setting>
            <setting name="USdbPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="isDbDataSaved" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="USCityID" serializeAs="String">
                <value>4258</value>
            </setting>
            <setting name="USCityName" serializeAs="String">
                <value />
            </setting>
            <setting name="USRefreshPeriod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="USCanClose" serializeAs="String">
                <value>False</value>
            </setting>
        </GismeteoClient.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IWService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/WService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IWService" contract="WeatherService.IWService"
                name="BasicHttpBinding_IWService" />
            <endpoint address="net.tcp://localhost:43396/WService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IWService" contract="WeatherService.IWService"
                name="NetTcpBinding_IWService">
                <identity>
                    <userPrincipalName value="ZEROCOOL\Алексей" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>