<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DataBaseWeather.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DataBaseWeather.Properties.Settings>
            <setting name="AdditionalEntropy" serializeAs="String">
                <value>wOkg4u7t8iDx7+jqIPTw7uwg7ODpIPXg8PIg6O0g6O3j6+j4</value>
            </setting>
            <setting name="Server" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="TableWeatherName" serializeAs="String">
                <value>weather</value>
            </setting>
            <setting name="TableCityName" serializeAs="String">
                <value>cities</value>
            </setting>
            <setting name="DBName" serializeAs="String">
                <value>gismeteo_weather</value>
            </setting>
        </DataBaseWeather.Properties.Settings>
    </userSettings>
</configuration>