<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GisMeteoWeather.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="GisMeteoParser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GisMeteoWeather.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <GisMeteoWeather.Properties.Settings>
            <setting name="DBServer" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="DBPort" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="DBUser" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="DBPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="DBName" serializeAs="String">
                <value>GismeteoWeather</value>
            </setting>
            <setting name="TableWeatherName" serializeAs="String">
                <value>Weather</value>
            </setting>
            <setting name="TableCityName" serializeAs="String">
                <value>City</value>
            </setting>
            <setting name="isServerSaved" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isPortSaved" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isUserSaved" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isPasswordSaved" serializeAs="String">
                <value>False</value>
            </setting>
        </GisMeteoWeather.Properties.Settings>
        <GisMeteoParser.Properties.Settings>
            <setting name="DefaultCityID" serializeAs="String">
                <value>4258</value>
            </setting>
        </GisMeteoParser.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <GisMeteoWeather.Properties.Settings>
            <setting name="AdditionalEntropy" serializeAs="String">
                <value>0KHQsNGI0LAsINGC0Ysg0Y7QstC10LvQuNGAIQ==</value>
            </setting>
        </GisMeteoWeather.Properties.Settings>
    </applicationSettings>
</configuration>
